.edit-menu {
    position: relative;
}
.edit-menu .btn-menu-edit {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.edit-type .edit-menu .btn-menu-edit {
    display: inline-block;
}