
.ace_editor {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.tab-content {
    padding: 20px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 20px;
}
.breadcrumb .active {
    font-size: 18px;
}
.form-group {
    position: relative;
}
/** Gallery */


.admin-gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}
.admin-gallery>li {
    float: left;
    width:20%;
    height: 146px;
    padding: 3px;
    cursor: pointer;
}
.admin-gallery>li>a.preview {
    display: block;
    position: relative;
    height: 140px;
    overflow: hidden;
    border:1px solid #ddd
}
.admin-gallery>li>a.preview:hover {
    border:1px solid #428bca;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.60);
}
.admin-gallery>li>a.preview>img {
    width:100%
}
.admin-gallery>li>a.preview>img.no_published {
    opacity: 0.5;
}
.admin-gallery>li>a.preview>.delete-image {
    display: none;
    position: absolute;
    right: 3px;
    top: 3px;
}

.admin-gallery>li>a.preview:hover > .delete-image {
    display: block;
}
#ajax_loader {
    display: none;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 999;
}
.table > tbody > tr.last-row-position td {
    border-bottom: 1px solid #333;
}
.table > tbody > tr.first-row-position td {
    border-top: 1px solid #333;
}
.bg-gray .uploader-preview {
    background-color: #ccc;
}
.admin-table-image-preview {
    margin: 0 auto;
    width: 100px;
    height: auto;
    text-align: center;
}
.admin-table-image-preview img {
    width: 100%;
}
.main-content {
    min-width: 1200px;!important;
}
.nav-list li.hover>.submenu>li>a {
    white-space: normal;
}
.parameter-dropdown-id {
    width: 10%;!important;
    text-align: center;
}
.parameter-dropdown-title {
    width: 90%;!important;
}
.parameter-dropdown-item {
    position: relative;
}
.parameter-dropdown-item .delete-dropdown-item {
    display: none;
    position: absolute;
    font-size: 33px;
    color: red;
    background-color: #fff;
    padding: 7px 6px;
    top: 2px;
    right: 2px;
    cursor: pointer;
    line-height: 0.5;
}
.parameter-dropdown-item:hover .delete-dropdown-item {
    display: block;
}
.parameter-dropdown-item .delete-dropdown-item:hover {
    background-color: red;
    color: #fff;
}
.label-id {
     width: 10%;
}
.set-value-block {
    border-bottom: 1px solid #C3C3C3;
    padding-bottom: 20px;
}
.parameter-dropdown-list {
    width: 30%;
    max-width:600px;
}


.btn-remove-image {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.no-skin .nav-list>li.notice-success>a {
    background-color: #87b87f;!important;
    color: #fff;!important;
}
.no-skin .nav-list>li.notice-success:hover>a {
    background-color: #fff;
    color: #266cad;
}