@font-face {
    font-family: 'Exo-Medium';
    src: url('../fonts/exo-medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/original-exo-medium.otf')  format('opentype'),
    url('../fonts/exo-medium.woff') format('woff'), url('../fonts/exo-medium.ttf')  format('truetype'), url('../fonts/exo-medium.svg#Exo2.0-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo-Black';
    src: url('../fonts/exo-black.eot?#iefix') format('embedded-opentype'),  url('../fonts/original-exo-black.otf')  format('opentype'),
    url('../fonts/exo-black.woff') format('woff'), url('../fonts/exo-black.ttf')  format('truetype'), url('../fonts/exo-black.svg#Exo2.0-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: "Exo-Medium";
    font-weight: normal;
    background: #fbd7a1 url(../images/bg.jpg);
    color: #3B221A;
}
a {
    color: #7f5139;
}
a:hover {
    color: #3B221A;
}

h2 {
    font-size: 24px;
    font-family: "Exo-Black";
}
h3 {
    font-size: 20px;
    font-family: "Exo-Black";
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.header-top {
    position: relative;
}

.header-top__contacts {
    text-align: right;
}
.header-top__contacts-phone {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.header-top__contacts-working-time {
    display: block;
}
.header-slider {
    margin-bottom: 20px;
    min-height: 160px;
}
.home .header-slider {
    margin-bottom: 50px;
    min-height: 270px;
}
.header-slider .full-slider__item {
    height: 170px;
    background-size: cover;
    background-position: 50% 50%;
}

.home .header-slider .full-slider__item {
    height: 550px;
    background-size: cover;
    background-position: 50% 50%;
}

.footer {
    border-top: 1px solid #633f31;
    padding-top: 50px;
    margin-top: 100px;
}
.footer__top {
    margin-bottom: 50px;
}
.footer__bottom {
    font-size: 14px;
    background-color: #633f31;
    color: #ffd89f;
    padding: 20px 0;
}
.footer__bottom a {
    color: #ffd89f;
}
.footer__bottom--right {
    text-align: right;
}
.footer__nav.nav>li {
    display: inline-block;
}
.footer__nav.nav>li>a {
    display: inline;
    font-size: 22px;
    padding: 0 15px;
    color: #633e30;
}
.footer__nav.nav>li:first-child {
    padding-left: 0;
}
.footer__nav.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    color: #3B221A;
}
.footer__logo {
    display: inline-block;
    text-decoration: none;
    background: url(/images/logo.png) no-repeat;
    background-size: contain;
    width: 218px;
    height: 230px;
}
.footer__contacts {
    text-align: right;
}
.footer__contacts-phone {
    display: block;
    font-size: 24px;
    font-weight: bold;
}
.footer__contacts div {
    margin-bottom: 10px;
}
.footer__social-wrapper {
    text-align: right;
    margin-top: 50px;
}
.footer__social-title {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
}
.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.social-links>li {
    display: inline-block;
    margin-left: 12px;
}
.social-links__item>a {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #633f31;
    color: #ffd89f;
    border-radius: 50%;
}
.social-links__item>a:hover {
    background-color: #3B221A;
}
.social-links__item>a>span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*** Main Page ***/
.main-about {
    text-align: center;
    margin-bottom: 50px;
}
.main-about h1 {
    margin-top: 0;
    font-family: "Exo-Black";
}
.main-about .sub-title {
    font-family: "Exo-Black";
    font-size: 24px;
    margin-bottom: 30px;
}
.main-principles__title {
    text-align: center;
    margin-bottom: 20px;
}
.main-principles__item {
    margin-bottom: 30px;
}
.principles__item-image {
    position: relative;
}
.principles__item-image img {
    width: 100%;
}
.principles__item-title {
    position: absolute;
    left:0;
    bottom: 0;
    margin:0;
    font-size: 20px;
    color: #fff;
    background-color: rgba(99, 62, 48, 0.5);
    width: 100%;
    text-align: center;
    min-height: 60px;
}
.principles__item-title span {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.principles__item-image {
    margin-bottom: 20px;
}
.page__title {
    margin-top: 0;
    text-align: center;
    font-family: "Exo-Black";
    margin-bottom: 30px;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}
.breadcrumb>li {
    position: relative;
}
.breadcrumb>li>i {
    font-style: normal;
}
.breadcrumb>li+li {
    padding-left: 30px;
}
.breadcrumb>li+li:before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #86624b;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 15px;
}

.field-contactform-message {
    display: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #633e30;
    background-color: transparent;
    background-image: none;
    border: 1px solid #633e30;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #633e30;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(127, 81, 57, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(127, 81, 57, 0.6);
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #a94442;
    font-weight: normal;
    font-size: 14px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}
.admin-panel .btn {
    display: inline-block;
    padding: 2px 8px;
    font-size: 12px;
}
.btn-default {
    color: #ffd89f;
    text-transform: uppercase;
    background-color: #633e30;
    border-color: #3f271f;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
    color: #ffd89f;
    background-color: #3f271f;
    border-color: #3f271f;
    outline: none;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
    color: #ffd89f;
    background-color: #3f271f;
    border-color: #3f271f;
    outline: none;
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #ffd89f;
    background-color: #3f271f;
    border-color: #3f271f;
}
[data-coords] {
    cursor: pointer;
}
.navbar-header {
    float: right;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 0;
    margin-bottom: 8px;
    border: 1px solid #633e30;
    border-radius: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 0;
    background-color: #633e30;
}
.cnav-collapse__close {
    display: none;
}
@media (max-width: 767px) {
    .cnav-collapse {
        position: fixed;
        top: 0;
        right: -999px;
        height: 100%;
        width:50%;
        background-color: #633e30;
        padding: 45px 15px 15px;
        z-index: 9999;
        transition: right .5s ease-out;
    }
    .cnav-collapse.open {
        right: 0;
    }
    .cnav-collapse__close {
        display: inline-block;
        background: url(/images/cross-out.svg) no-repeat;
        width: 26px;
        height: 26px;
        border:0;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .cnav-collapse__close:focus {
        outline: none;
    }
    .cnav-collapse a {
        font-size: 18px;
        color: #ffd89f;
    }
    .navbar-header {
        float: left;
        width:100%;
    }
    .header-top__contacts {
        text-align: left;
    }
    .header-top__contacts-phone {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-top: 13px;
    }
    .header-top__contacts-working-time {
        display: none;
    }

    .header-top__logo {
        display: inline-block;
        text-decoration: none;
        background: url(/images/logo.png) no-repeat;
        background-size: contain;
        width: 218px;
        height: 230px;
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -90px;
        z-index:99;
    }
    .header-slider .full-slider__item {
        height: 260px;
    }

    .home .header-slider .full-slider__item {
        height: 260px;
    }
    .footer {
        border-top: 1px solid #633f31;
        padding-top: 30px;
        margin-top: 70px;
    }
    .footer__nav {
        text-align: center;
    }
    .footer__nav.nav>li {
        display: block;
    }
    .footer__nav.nav>li>a {
        display: inline-block;
        font-size: 22px;
        padding: 5px 15px;
        color: #633e30;
    }
    .footer__nav.nav>li:first-child {
        padding-left: 15px;
    }
    .footer__logo-wrapper {
        display: none;
        text-align: center;
    }
    .footer__logo {
        margin-top: 30px;
        margin-left: 20px;
    }
    .footer__contacts {
        margin-top: 30px;
        text-align: center;
    }
    .footer__social-wrapper {
        text-align: center;
    }
    .social-links>li {
        display: inline-block;
        margin: 0 10px;
    }
    .footer__bottom--left {
        text-align: center;
        margin-bottom: 30px;
    }
    .footer__bottom--right {
        text-align: center;
    }
}
@media (min-width: 768px) {
    .header-top__logo {
        display: inline-block;
        text-decoration: none;
        background: url(/images/logo.png) no-repeat;
        background-size: contain;
        width: 218px;
        height: 230px;
        position: absolute;
        top: 80px;
        left: 50%;
        margin-left: -90px;
        z-index:99;
    }
    .home .header-top__logo {
        display: inline-block;
        text-decoration: none;
        background: url(/images/logo.png) no-repeat;
        background-size: contain;
        width: 314px;
        height: 331px;
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -130px;
    }
    .header-top__nav.navbar-nav>li>a {
        font-size: 22px;
        color: #633e30;
        /*font-family: 'Exo-Black';*/
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .header-top__nav.navbar-nav>li>a:first-child {
        padding-left: 0;
    }
    .header-top__nav.nav>li>a.active,
    .header-top__nav.nav>li>a:hover,
    .header-top__nav.nav>li>a:focus {
        text-decoration: none;
        color: #3B221A;
        background-color: transparent;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .footer__nav {
        text-align: center;
        margin-bottom: 30px;
    }
    .footer__logo-wrapper {
        text-align: center;
        margin-bottom: 30px;
    }
    .footer__logo {
        margin-left: 20px;
    }
    .footer__contacts {
        text-align: center;
    }
    .footer__social-wrapper {
        text-align: center;
    }
    .social-links>li {
        display: inline-block;
        margin: 0 10px;
    }
    .footer__bottom--left {
        text-align: center;
        margin-bottom: 30px;
    }
    .footer__bottom--right {
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .header-top__logo {
        display: inline-block;
        text-decoration: none;
        background: url(/images/logo.png) no-repeat;
        background-size: contain;
        width: 218px;
        height: 230px;
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -90px;
        z-index:99;
    }
    .home .header-top__logo {
        display: inline-block;
        text-decoration: none;
        background: url(/images/logo.png) no-repeat;
        background-size: contain;
        width: 314px;
        height: 331px;
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -130px;
    }
}