/* included only when we don't want to use fonts from google server */
/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}*/

@font-face {
  font-family: 'Open Sans';
  src: url('../font/open-sans-light/2209-webfont.eot');
  src: url('../font/open-sans-light/2209-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/open-sans-light/2209-webfont.woff2') format('woff2'),
  url('../font/open-sans-light/2209-webfont.woff') format('woff'),
  url('../font/open-sans-light/2209-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/open-sans/2211-webfont.eot');
  src: url('../font/open-sans/2211-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/open-sans/2211-webfont.woff2') format('woff2'),
  url('../font/open-sans/2211-webfont.woff') format('woff'),
  url('../font/open-sans/2211-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}
/*

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../font/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}*/
