.include-area {
    border: 0;
    position: relative;
}

.include-area .btn-area-edit {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.edit-type .include-area:hover {
    border: 1px solid #269abc;
}
.edit-type .include-area:hover .btn-area-edit {
    display: inline-block;
}
#modal-area-edit .success-message {
    background-color: #dff0d8;
    padding: 10px;
    margin-bottom: 5px;
}